.group-17 {
  padding: 90px 35px;

  background-image: url("../../images/bg-boost-mobile.svg");
  background-color: #3a3054;
}

.group-17 .group-16 .title {
  height: 48px;
  margin-bottom: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.7px;
  color: white;
}
