.menu {
  width: 100%;
  position: absolute;
  top: calc(100% + 25px);
  display: none;
}

.menu.visible {
  display: inherit;
}

.menu .container {
  width: 100%;
  height: 383px;
  padding: 40px 24px;
  border-radius: 10px;
  background-color: #3a3054;
}

.menu .container .item-container .item {
  height: 27px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: white;
}

.menu .container .item-container .item:last-child {
  height: fit-content;
  margin-bottom: 0px;
  padding-bottom: 30px;
  border-bottom: 1px solid hsla(257, 8%, 63%, 0.25);
}

.menu .container .log-container #login {
  margin-top: 32px;
  margin-bottom: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: white;
}

.menu .container .log-container #sign-up {
  width: 100%;
  height: 48px;
  border-radius: 28px;
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: #2bd0d0;
}

@media only screen and (min-width: 1440px) {
  .menu {
    position: inherit;
    display: inherit;
  }

  .menu .container {
    padding: 0px 0px 0px 0px;
    height: fit-content;
    border-radius: 0%;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu .container .item-container {
    width: 265px;
    margin-left: 45px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu .container .item-container .item {
    cursor: pointer;
    margin: 0px 0px 0px 0px;
    height: 23px;
    
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;

    color: #9e9aa8;
  }

  .menu .container .item-container .item:hover {
    color: #34313d;
  }

  .menu .container .item-container .item:last-child {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: none;
  }

  .menu .container .log-container {
    display: flex;
    align-items: center;
  }

  .menu .container .log-container #login {
    cursor: pointer;
    margin: 0px 37px 0px 0px;
    height: 23px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;

    color: #9e9aa8;
  }

  .menu .container .log-container #login:hover {
    color: #34313d;
  }

  .menu .container .log-container #sign-up {
    width: 105px;
    height: 40px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;

    background-color: #2bd0d0;
  }

  .menu .container .log-container #sign-up:hover {
    background-color: #9ae3e3;
  }
}
