.shorter {
  width: 100%;
  margin-bottom: 80px;
}

.shorter .mask {
  width: 100%;
  height: 100%;
  margin-bottom: 24px;
  border-radius: 10px;
  background-image: url("../../images/bg-shorten-mobile.svg");
  background-color: #3a3054;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 70px -30px;

  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
