.App {
  width: 375px;
  min-width: 375px;
  height: 100%;
  margin: auto;
}

.top {
  width: 100%;
  height: 927px;
  padding: 40px 24px;
  background-image: url("../src/images/illustration-working.svg");
  background-size: 140%;
  background-position: 20px 100px;
  background-repeat: no-repeat;
}

.bot {
  width: 100%;
  height: fit-content;
  padding: 0 24px;
  background-color: #eff1f7;


}

.bot-container {
  width: 100%;
  height: fit-content;
  position: relative;
  top: -80px;
}
